[project]
	description = rot13 in go in TDD
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benoit (benoittgt)
[access "refs/for/refs/*"]
	read = group user/Benoit (benoittgt)
	push = group user/Benoit (benoittgt)
	label-Code-Review = -2..+2 group user/Benoit (benoittgt)
	label-Verified = -1..+1 group user/Benoit (benoittgt)
	rebase = group user/Benoit (benoittgt)
	removeReviewer = group user/Benoit (benoittgt)
	submit = group user/Benoit (benoittgt)
[access "refs/heads/*"]
	read = group user/Benoit (benoittgt)
	create = group user/Benoit (benoittgt)
	push = +force group user/Benoit (benoittgt)
	pushMerge = group user/Benoit (benoittgt)
[access "refs/tags/*"]
	push = +force group user/Benoit (benoittgt)
	pushTag = group user/Benoit (benoittgt)
	pushSignedTag = group user/Benoit (benoittgt)
